<div fxLayout="row" fxLayoutGap="5px">
  <mat-card *ngFor="let issue of issues">
    <mat-card-title>{{issue.summary | uppercase}}</mat-card-title>
    <mat-card-subtitle>{{issue.storyPoints}}</mat-card-subtitle>
    <mat-card-content>
      {{issue.description}}
      <a routerLink="/issues/{{issue.id}}">See details</a>
    </mat-card-content>
  </mat-card>
</div>
