<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<!--<app-issue-list></app-issue-list>-->
<!--<hr/>-->
<!--<app-issue-details></app-issue-details>-->

<router-outlet></router-outlet>
